body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #fafafa;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

.instagram-like-feed {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.post {
    flex: 0 0 calc(33.33% - 10px); /* Tre post per riga, con spaziatura di 10px tra di essi */
    box-sizing: border-box;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    overflow: hidden;
}

/* Altri stili per il footer, puoi personalizzarli */
footer {
    background-color: #fafafa;
    padding: 10px;
    text-align: center;
}
